<!-- empty cart -->
<div class="p1" *ngIf="cartitems.length==0" >
<div class="container border border-primary m-5 p-5">
    <div class="row text-center">
        <div class="col">
            <img src="https://www.clickbazar.com/Images/empty-cart.gif" width="200px" alt="">
            <h3 class="mt-3">Your cart is empty</h3>
            <button routerLink="/" class="btn btn-primary ">Shop Now</button>
        </div>
    </div>
</div>
</div>
<!-- cart with content -->
<div class="p1">
<div class="container" *ngIf="cartitems.length!=0">
    <div class="row">
        <div class="col">
            <table  class="table border border-dark m-3">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of cartitems let i=index">
                        <td>{{i+1}}</td>
                        <td>{{product.Title}}</td>
                        <td><img [src]="product.image" style="width: 100px;" alt=""></td>
                        <td>{{product.description}}</td>
                        <td>${{product.price}}</td>
                        <td><i (click)="removeitem(product)" class="fa fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right;" class="mb-3">
                <button (click)="removeall()" class="btn btn-danger">Empty cart</button>&nbsp;
                <button class="btn btn-warning">View more</button>&nbsp;
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check Out</button>&nbsp;
                <b>Grand Total:${{grand}}</b>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Check Out Page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>Delivery Address</h2>
          <form action="" class="m-3 p-3">
            <input class="form-control" type="text" placeholder="Name"><br><br>
            <input class="form-control" type="text" placeholder="Address/House No"><br><br>
            <input class="form-control" type="text" placeholder="Pincode"><br><br>
            <input class="form-control" type="text" placeholder="Street"><br><br>
            <input class="form-control" type="text" placeholder="Country"><br><br>
            <input class="form-control" type="text" placeholder="Contact No"><br><br>
            <input class="form-control" type="text" placeholder="E-mail Address">
          </form>
        </div>
        <div [ngSwitch]="grand">
          <h4>Discounts</h4>
          <img *ngSwitchCase="3" (click)="discount3per($event.target)" width="100px" src="https://t4.ftcdn.net/jpg/00/98/97/57/360_F_98975745_sgSVAhoA5L8DgfEgoamIEZcKh0J6aBNI.jpg" alt="">
          <img *ngSwitchCase="10" (click)="discount10per()" width="100px" src="https://www.shutterstock.com/image-vector/10-sale-special-offers-off-260nw-1863594694.jpg" alt="">
          <img *ngSwitchCase="30" (click)="discount30per()" width="100px" src="https://cdn4.vectorstock.com/i/1000x1000/94/58/30-off-discount-promotion-sale-sale-promo-market-vector-24759458.jpg" alt="">
          <img *ngSwitchCase="50" (click)="discount50per()" width="100px" src="https://w7.pngwing.com/pngs/372/875/png-transparent-discounts-and-allowances-retail-sales-coupon-50-percent-text-trademark-service.png" alt="">
          <img *ngSwitchDefault="3" (click)="discount3per($event.target)" width="100px" src="https://media.istockphoto.com/id/1136155337/vector/promo-code-coupon-code-flat-vector-set-design-illustration-on-white-background.jpg?s=612x612&w=0&k=20&c=sM95EWp2rPqPfp0pGxKi4Jkjgz-0buvGtSSZkNQYIao=" alt="">
        </div>

        <div>
          <h5>Your Grand total is here:${{updatetotal}}</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="proceed()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Proceed</button>
        </div>
      </div>
    </div>
  </div>
